* {
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 242, 245);
    margin: 0;
    font-family: sans-serif;
}

#logo {
    /* background-image: url("/logo.png"); */
    width: 15rem;
}

.header {
    display: grid;
    grid-template-columns: 6fr 5fr 1fr 1.5fr 1fr;
    height: 4em;
    justify-content: start;
    border-bottom: 1px solid;
    background-color: white;
    padding: 10px;
    align-content: center;
    align-items: center;
}

/*#welcome {
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}*/

button:hover {
    background-color: #34aaf8;
}

.register-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px lightgray;
    padding: 10px;
    width: 40%;

    gap: 10px;
    background-color: White;
}

.register-login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 60vw;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.register-login-form input {
    height: 4vh;
    width: 40%;
    border: lightgrey 1px solid;
}

.trenner {
    background-color: black;
    height: 1px;
    width: 50%;
    margin-bottom: 5px;
}

.searchContainer {
    height: 4vh;
    width: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.searchContainer button {
    width: 20%;
    height: 4vh;
    color: white;
    font-weight: bold;
    /* background-color: #085ece3e; */
    background-color: #0095f6;
    border-radius: 5px;
    border: black;
    cursor: pointer;
}

.searchContainer input {
    height: 3vh;
    width: 60%;
    border: lightgrey 1px solid;
}

button {
    width: 25vw;
    height: 4vh;
    color: white;
    font-weight: bold;
    /* background-color: #085ece3e; */
    background-color: #0095f6;
    border-radius: 5px;
    border: black;
    cursor: pointer;
}

.profilImageUpload {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.272);
}
.profilImageUpload button {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.modal-content {
    z-index: 2;
    color: aliceblue;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #0095f6;
    border-radius: 10%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 2px #888888;
}
.modal-content button {
    background-color: #0095f6;
    width: 40px;
}

.modal-form button {
    width: 55px;
}
.closeImageUpload {
    position: absolute;
    right: 20px;
    top: 20px;
}

footer {
    /* position: fixed; */
    bottom: 0px;
    background-color: aliceblue;
    padding-left: 5%;
    width: 100%;
}
.profilePage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    /* padding-top: 1%; */
}

.profileInfo {
    display: flex;
    height: 70%;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
    background-color: white;
    flex-direction: column;
    padding: 20px;
    margin: 2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 33px;
}

.profileInfo button {
    width: 10vw;
    margin: 5px;
}

.profileInfo img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.profilePageContent {
    background-color: white;
    /* border: 1px solid; */
    padding-left: 5%;
    margin-top: 33px;
    margin-right: 1%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.profilePictureHeader {
    height: 3rem;
    width: 3rem;
    border: 2px solid;
    padding: 2px;
    border-radius: 50%;
    object-fit: cover;
}

.bio {
    border: solid 1px;
    padding: 5%;
    margin: 0;
    margin-bottom: 2%;
}

.textarea {
    display: flex;
    align-items: center;
    width: 230px;
    height: 100px;
    resize: none;
    border: solid 1px;
    padding: 5%;
    margin: 0;
    margin-top: 5%;
}

/* .bigProfilePicture {
    height: 4rem;
    width: 4rem;
} */

.found-users {
    z-index: 2;
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    background-color: white;
    margin: 3px;
    width: 280px;
}

.found-users:hover {
    background-color: rgb(227, 228, 229);
}

.found-users img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.findPeople {
    height: 100%;
    margin-top: 50px;
}

#all-found-users {
    margin-top: 19px;
    display: flex;
    position: absolute;
    grid-template-columns: none;
    /* grid-template-rows: 1fr; */
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown-menu {
    position: fixed;
    height: 220px;
    width: 189px;
    border: solid 2px lightgray;
    background-color: white;
    right: 6px;
    top: 70px;
}
.menuButton {
    height: 3rem;
    width: 3rem;
    padding: 2px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: solid 2px;
}

.menuButton:hover {
    border: 2px solid gray;
}

.dropNav li {
    /* border: solid 2px; */
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.RequestFriendsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.RequestFriendsContainer img {
    height: 10rem;
    width: 8rem;
    object-fit: cover;
}

.singleUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 10px;
}

.yourfriends {
    border-bottom: 2px solid black;
}
